doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Cnverif.com - проверка китайских контрагентов
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Montserrat:wght@300;400;500;600;700;800;900&family=Oswald:wght@700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="shortcut icon", href="img/sitepng-logo.png" type='image/png')
  body 
    .wrapper
      .menu-mobile#menu
        .header__menu-cont#men
          img.menu-icon(src="img/menu-icon.svg" alt="icon")
          p.header__menu-text Меню
        .dropdown__menu.open2
          h2.dropdown__menu-title Проверка поставщика в Китае
          ul.dropdown__menu-items
            li.dropdown__menu-item
              a.dropdown__menu-link(href="index.html") Варианты проверки
            li.dropdown__menu-item
              a.dropdown__menu-link(href="index.html") Стоимость 
            li.dropdown__menu-item
              a.dropdown__menu-link(href="index.html") Необходимая информация
            li.dropdown__menu-item
              a.dropdown__menu-link(href="index.html") Заказать проверку
          h2.dropdown__menu-title Дополнительные услуги
          ul.dropdown__menu-items
            li.dropdown__menu-item
              a.dropdown__menu-link(href="delivery.html") Доставка из Китая
            li.dropdown__menu-item
              a.dropdown__menu-link(href="index.html") Поиск поставщика в Китае 
        .header__menu-cont#lang
          img.lang-icon(src="img/lang/ru.svg" alt="lang")
          p.header__menu-lang Русский
        .dropdown__lang.lang-open-second
          ul.dropdown__lang-items 
            li.dropdown__lang-item 
              img.dropdown__lang-img(src="img/lang/eng.svg" alt="eng")
              | English
            li.dropdown__lang-item.dropdown__lang-item--active
              img.dropdown__lang-img(src="img/lang/ru.svg" alt="ru")
              | Русский
            li.dropdown__lang-item 
              img.dropdown__lang-img(src='img/lang/kz.svg' alt='kz')
              | Казахский
      header.header.delivery
        .container
          .header__menu#menu
            .header__menu-cont#men
              img.menu-icon(src="img/menu-icon.svg" alt="icon")
              p.header__menu-text Меню
            .dropdown__menu.open1
              h2.dropdown__menu-title Проверка поставщиков в китае
              ul.dropdown__menu-items
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="index.html") Варианты проверки
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="index.html") Стоимость 
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="index.html") Необходимая информация
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="index.html") Заказать проверку
              h2.dropdown__menu-title Дополнительные услуги
              ul.dropdown__menu-items
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="delivery.html") Доставка из Китая
                li.dropdown__menu-item
                  a.dropdown__menu-link(href="#") Поиск поставщика в Китае
            .header__menu-cont#lang
              img.lang-icon(src="img/lang/ru.svg" alt="lang")
              p.header__menu-lang Русский
            .dropdown__lang.open1
              ul.dropdown__lang-items 
                li.dropdown__lang-item
                  img.dropdown__lang-img(src="img/lang/eng.svg" alt="eng")
                  | English
                li.dropdown__lang-item.dropdown__lang-item--active 
                  img.dropdown__lang-img(src="img/lang/ru.svg" alt="ru")
                  | Русский
                li.dropdown__lang-item 
                  img.dropdown__lang-img(src='img/lang/kz.svg' alt='kz')
                  | Казахский
          .header__socials 
            a.logo-link(href='index.html')
              img.logo(src="img/logo.svg" alt="logo")
            .social-items
              a.social-item.popup__open(href='#popup__form')
                img(src="img/question-mark.svg" alt="question")
              a.social-item(href='#')
                img(src="img/whatsapp.svg" alt="question")
              a.social-item(href='#')
                img(src="img/mail.svg" alt="question")
      main.main
        .breadcrumbs__box 
          .container
            ul.breadcrumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href="index.html") Главная
              li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Дополнительные услуги
              li.breadcrumbs__item
                a.breadcrumbs__link.breadcrumbs__link--active(href="#") Доставка
        section.article
          .container
            h2.article__title Морская доставка в Санкт-Петербург из основных портов <span class='red'>Китая</span>
          img.article__img(src="img/news/delivery-from-china.jpg" alt="delivery")
          .container
            p.article__text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст.
            h4.article__text-title <span class='red'>1)</span> Несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык
            p.article__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
          .bckimg-submit__form
            .submit__form
              .blur
              p.submit__text Просто поверьте, лучше Ваше дело доверить <span class='bold'>нашим профессионалам!</span>
              a.submit__btn(href='#formS')
                img.submit__btn-img(src="img/btn.png" alt="")
                p.submit__btn-text Оставить заявку
          .container
            h4.article__text-title <span class='red'>2)</span> В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет. 
            p.article__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
            h4.article__text-title <span class='red'>3)</span> Текст генерируется абзацами случайным образом от двух до десяти предложений 
            p.article__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
            p.article__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
            p.article__text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
        section.feedback#formS
          .container 
            h2.feedback__title.small__feedback__title ФОРМА <span class='red-grad'>ДЛЯ ЗАПОЛНЕНИЯ:</span>
            form.feedback__form(action="#")#sform
              h2.feedback__title.feedback__form__title-hidden ФОРМА <span class='red-grad'>ДЛЯ ЗАПОЛНЕНИЯ:</span>
              h3.feedback__form__title.small__feedback__form__title Сообщите нам информацию, которой владеете:
              .feedback__form__info-box.small__feedback__form__info-box
                .feedback__form__input-info
                  input.feedback__form__input._req(type="text" placeholder='Ваше имя*' name='user-name')
                .feedback__form__input-info
                  input.feedback__form__input(type="tel" data-tel-input placeholder='Телефон' name='user-tel')
                .feedback__form__input-info
                  input.feedback__form__input._req(type="email" placeholder='Электронная почта*' name='user-email')
              .feedback__form__input-box
                  textarea.feedback__form__text-area(style="margin-bottom:25px;" type="text" placeholder='Оставьте сообщение' name='user-message')
              label.feedback__form__agree
                input.feedback__form__input-checkbox._req(type="checkbox" checked)
                span.feedback__form__input-checkbox-style
                | Даю согласие на обработку своих персональных данных
              button.feedback__form__submit.small__feedback__form__submit(type='submit')
                img.submit__btn-img(src="img/btn.png" alt="")
                p.submit__btn-text Отправить запрос
      footer.footer
        .container
          .footer__menu
            a.footer__logo(href='index.html') cnverif.com
            .footer__menu-hide#menu
              .header__menu-cont#lang
                img.lang-icon(src="img/lang/ru.svg" alt="lang")
                p.header__menu-lang Русский
              .dropdown__lang.lang-open-fourth
                ul.dropdown__lang-items 
                  li.dropdown__lang-item
                    img.dropdown__lang-img(src="img/lang/eng.svg" alt="eng")
                    | English
                  li.dropdown__lang-item.dropdown__lang-item--active
                    img.dropdown__lang-img(src="img/lang/ru.svg" alt="ru")
                    | Русский
                  li.dropdown__lang-item 
                    img.dropdown__lang-img(src='img/lang/kz.svg' alt='kz')
                    | Казахский
            ul.footer__menu__items 
              li.footer__menu__item
                a.footer__menu__link(href="#") Перевозка 
              li.footer__menu__item
                a.footer__menu__link(href="#") Ваш представитель в китае 
              li.footer__menu__item
                a.footer__menu__link(href="#") Поиск товара
            .social-items
              a.social-item(href='#')
                img(src="img/question-mark.svg" alt="question")
              a.social-item(href='#')
                img(src="img/whatsapp.svg" alt="question")
              a.social-item(href='#')
                img(src="img/mail.svg" alt="question")
      .footer__menu-mobile#menu
        .header__menu-cont#men
          img.menu-icon(src="img/menu-icon.svg" alt="icon")
          p.header__menu-text(style='color:black;') Меню
        .dropdown__menu.open3
          h2.dropdown__menu-title Проверка поставщика в Китае
          ul.dropdown__menu-items
            li.dropdown__menu-item
              a.dropdown__menu-link(href="#") Варианты проверки
            li.dropdown__menu-item
              a.dropdown__menu-link(href="#") Стоимость 
            li.dropdown__menu-item
              a.dropdown__menu-link(href="#") Необходимая информация
            li.dropdown__menu-item
              a.dropdown__menu-link(href="#") Заказать проверку
          h2.dropdown__menu-title Дополнительные услуги
          ul.dropdown__menu-items
            li.dropdown__menu-item
              a.dropdown__menu-link(href="delivery.html") Доставка из Китая
            li.dropdown__menu-item
              a.dropdown__menu-link(href="#") Поиск поставщика в Китае 
        .header__menu-cont#lang
          img.lang-icon(src="img/lang/ru.svg" alt="lang")
          p.header__menu-lang(style='color:black;') Русский
        .dropdown__lang.lang-open-third
          ul.dropdown__lang-items 
            li.dropdown__lang-item 
              img.dropdown__lang-img(src="img/lang/eng.svg" alt="eng")
              | English
            li.dropdown__lang-item.dropdown__lang-item--active
              img.dropdown__lang-img(src="img/lang/ru.svg" alt="ru")
              | Русский
            li.dropdown__lang-item 
              img.dropdown__lang-img(src='img/lang/kz.svg' alt='kz')
              | Казахский
    .popup__form#form
      .popup__form-container
        img.popup__form-close.close(src="img/сlose-icon.svg" alt="")
        h2.popup__form-title Заполните форму
        p.popup__form-text Мы обязательно ответим Вам в течении 2 часов
        form.popup__form-form(action="#")#pform
          input.popup__form-input.popup__form--elem._req(type="text" placeholder='Ваше имя*' name='user-name')
          input.popup__form-input.popup__form--elem._req._email(type='email' placeholder='Ваша электронная почта*' name='user-email')
          textarea.popup__form-textarea.popup__form--elem(placeholder='Задайте вопрос' name='user-message')
          button.feedback__form__submit.popup__form-btn(type='submit')
            img.submit__btn-img(src="img/btn.png" alt="")
            p.submit__btn-text.popup__form-btn-text Отправить
    .popup__thanks.popup__form
      .popup__thanks-container
        img.popup__form-close.close(src="img/сlose-icon.svg", alt="")
        img.popup__thanks-img(src="img/thanks.svg", alt="thanks")
        h3.popup__thanks-title Спасибо!
        p.popup__thanks-text Мы обязательно свяжемся с вами
    script(src="js/script.min.js") 
